body {
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
.hero-section {
  padding: 220px 0;
  position: relative;

  @media (max-width: 1200px) {
    padding: 180px 0;
  }

  @media (max-width: 992px) {
    padding: 150px 0;
  }

  @media (max-width: 768px) {
    padding: 50px 0
  }

  @media (max-width: 576px) {
    padding: 40px 0;
  }

  .hero-bg-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Centers vertically */
    width: 60vw; /* Covers more screen space */
    max-width: 950px; /* Prevents it from being too large */
    height: auto;
    object-fit: cover;
    z-index: -1; /* Sends it behind the text */

    @media (max-width: 768px) {
      transform: translateY(0%);
      transform: translateX(-5%) ;
      position: relative; /* Removes absolute positioning */
      right: auto;
      top: auto;
      max-height: 100%;
      width: 100%; /* Full width on small screens */
      max-width: 100%; 
      display: block;
      margin-top: 20px; /* Adds spacing */
      z-index: 1; /* Brings it to normal stacking */
    }
    @media (max-width: 576px) {
      transform: translateX(-5%) ;
      margin-top: 10px; /* Adds spacing */

    }
  }
}


.hero-content {
  max-width: 650px;
  @media (max-width: 992px) {
    max-width: 550px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    text-align: center; // Center content for small screens
    padding: 0px;
  }
  @media (max-width: 576px) {
    max-width: 100%;
    text-align: center; // Center content for small screens
    padding: 0px;
  }
}
.hero-section-title {
  margin-bottom: 29px;
  font-weight: 900;
  font-size: 58px;
  line-height: 65.25px;
  letter-spacing: -1.5%;

  @media (max-width: 992px) {
    font-size: 48px;
    line-height: 55px;
  }
  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 5px;
  }
  @media (max-width: 576px) {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
  }
}

.hero-section-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 31.44px;
  text-align: justify;

  @media (max-width: 992px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 24px;
    text-align: center; // Center text on small screens
    margin-bottom: 10px;
  }

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}
