.blog-section {

  background: $light-bg-clr;
}
.blog-section-wrapper {
  display: flex;

  padding: 150px 0 150px 150px;
  @media(max-width: 1200px){
    text-align: left;
    flex-direction: column;
    padding: 100px 0 100px 60px;
  }
  @media(max-width: 992px){


  padding: 80px 20px;
  }
}
.news-article-wrapper {
  max-width: 550px;
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
  }

  h3 {
    color: $secondry-clr;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.6%;
  }
  p {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 22px;
    line-height: 177%;
    letter-spacing: 0%;
  }
}
.blog-swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  position: relative;
}

.swiper-horizontal{
    min-height: 350px;
}

.blog-swiper .swiper-slide {
    padding: 83px 35px 55px 34px;

  background: #fff;

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
  p {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0%;
    text-align: justify;
  }
}

/* Unique Button Styles */
.blog-button-next,
.blog-button-prev {
  background: $secondry-clr; /* Orange button */
  color: $clr-white;
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  @media(max-width: 992px){
    display: none;
  }
}

.blog-button-next {
  right: 10px;
}

.blog-button-prev {
  left: 10px;
  display: none; /* Initially hidden */
}

.blog-button-next:hover,
.blog-button-prev:hover {
  background: #4d97bd; /* Darker orange on hover */
}

/* Pagination Style */
.blog-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
