// ************* Footer section ******************
.footer-section {
  background: $primary-clr url("/images/fotoer-line.png") no-repeat;
  padding: 0 150px 80px 150px;
}

.footer-container {
  padding: 120px 0 0 0 ;
  display: flex;
  gap: 250px;
  @media(max-width: 1450px){
    flex-direction: column;
    gap: 40px;
  }
  


}
.footer-logo-container {
  max-width: 390px;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure it's full width */
  flex-wrap: wrap; /* Optional, ensures items wrap on smaller screens */
 
}
.footer-content-desc {
  h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  li {
    color: #4b9b8d;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    transition: $transition-all;
  }
  li:hover{
    color: $clr-black;
    cursor: pointer;

  }
  ul {
    padding: 0;
  }
}

hr {
  color: $clr-white; /* Use the Sass variable */
  border-top: 2px solid $clr-white;
  margin-bottom: 40px;
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: space-between;
@media(max-width: 576px){
  flex-direction: column;
}


  .footer-copy{
p{
    font-weight: 450;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}


  }
  .footer-desc {
    display: flex;
    gap: 30px;
    .item {
   
      font-weight: 700;
      font-size: 19px;
      line-height: 100%;
      letter-spacing: 0px;
    }
    .item:hover{
        cursor: pointer;
    }
  }
}

.footer-links{
    display: flex;
    justify-content: space-around;

}


