.navbar {
  background: $clr-light-cyan; /* Default for small screens (mobile-first) */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .navbar {
    background: $clr-white; /* Change background for larger screens */
  }
}

.navbar-collapse {
  flex-grow: 0;
  gap: 10px;
  @media (max-width: 992px) {
    margin-left: 0 !important;
  }
}

.navbar-nav {
  gap: 40px;
  
  @media (max-width: 1400px) {
    gap: 28px;
  }
  @media (max-width: 1200px) {
    gap: 28px;
  }
  @media (max-width: 992px) {
    gap: 0;
  }
}

.nav-link {
  color: $primary-clr;
  font-size: 18px;
  font-weight: bold; /* Set it bold from the beginning to prevent shift */
  opacity: 0.8; /* Reduce opacity so it looks "lighter" */
  transition: all 0.3s ease-in-out;
  
  @media (min-width: 992px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  @media (max-width: 992px) {
    color: #003b4d;
  }
  &:hover {
    color: $clr-black;
    opacity: 1; /* Full opacity on hover instead of changing font-weight */
    @media (max-width: 992px) {
      color: $clr-light-blue;
    }
  }
}

/* Add space at the top of the page to prevent content jump when navbar becomes fixed */
body {
  padding-top: 90px; /* Adjust based on your navbar height */
}