.services-section {
  background-color: $service-bg-clr;
  padding: 120px 0;
  @media(max-width: 992px){
    padding: 90px 0;
  }
  @media(max-width: 576px){
    padding: 60px 0;
  }
}

.services-section .section-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.services-section .section-subtitle {
  max-width: 750px;
  font-family: "DM Sans", sans-serif;
  margin: 0 auto 40px;
  text-align: center;
}

.service-card {
  border-radius: 10px;
  border-top: 8px solid $primary-clr !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 65px 47px 30px 25px;
  @media(max-width: 576px){
    padding: 50px 35px 25px 20px;

  }
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card {
  .service-icon {
    margin-bottom: 34px;
  }
}

.service-card {
  .card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25.3px;
  }
}
.service-card-wrapper {
  max-width: 1200px;
  margin: auto;
}

.read-more-arrow {
  display: inline-flex;
  align-items: center;
  color: $secondry-clr;
  transition: all 0.3s ease;
  cursor: pointer;
}

.read-more-arrow span {
  margin-left: 5px;
  transition: transform 0.5s ease-in-out;
}

.read-more-arrow:hover span {
  transform: translateX(5px) rotateX(360deg); /* Simple right movement */
}

.read-more-arrow:hover {
  color: $primary-clr;
}

@media (max-width: 992px) {
  .services-section .section-title {
    font-size: 36px;
  }
}

.card {
  border: none;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  font-family: "DM Sans";
  margin-bottom: 30px !important;
}
.service-icon-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.service-icon-circle {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #60e1cb31; /* Light primary color background */
  border-radius: 50%;
  top: -11px;
  left: -14px;
  z-index: 1;
  .service-icon {
    position: relative;
    z-index: 2;
  }
  .service-icon img {
    max-height: 40px;
    position: relative;
  }
}
