.container {

  max-width: 1200px;
  margin: 0 auto;

}
.underline {
  height: 4px;
  width: 120px;
  background: $secondry-clr;
  @media(max-width:768px){
     margin: auto;
  }

}

.span-text {
  color: $primary-clr;
}
/* Add this to your existing SCSS */
.slide-content.mobile-view {
  display: block; /* Override the flex layout */
  
  .img-wrapper {
    width: 100%;
    margin: 0 auto;
    
    img {
      max-width: 100%;
    }
  }
}
