.underline {
  height: 4px;
  width: 120px;
  background: $secondry-clr;
  @media(max-width:768px){
     margin-left: 50  px;
  }
  @media(max-width:576px){
     margin: auto;
  }
}

.span-text {
  color: $primary-clr;
}
/* Add this to your existing SCSS */
.slide-content.mobile-view {
  display: block; /* Override the flex layout */
  
  .img-wrapper {
    width: 100%;
    margin: 0 auto;
    
    img {
      max-width: 100%;
    }
  }
}


.top-link.show-link {
  opacity: 1;
  visibility: visible;
  animation: bounce 1s infinite ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.top-link:hover{
  background: #4d97bd;
  color: $clr-white;
}

.top-link {
  z-index: 9999;
  position: fixed;
  bottom: 80px;
  right: 30px;
  background: $secondry-clr;
  color: $clr-white;
  padding: 12px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  animation: bounce 0.5s infinite ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-5px);
  }
}

